<%= link_to gravatar_for(current_user, size: 50), current_user %>
<span class="username"><%= link_to current_user.name, current_user %></span>
</br>
<div class="colum">
<p class="pc-stat">Entries</p>
 <a class="popup" id="contribution" data-content="Tổng số bài viết" data-position="bottom center"><%= current_user.entries.count %></a>
 </div>
 <div class="clear"></div>
 <div class="colum">
<p class="pc-stat">Follow</p>
<a class="popup" data-content="Tổng số lượt bình luận trong tất cả bài viết" data-position="bottom center">6</a>
</div>
<div class="clear"></div>
  <div class="colum">
<p class="pc-stat">Comment</p>
<a class="popup" data-content="Tổng số lượt bình luận trong tất cả bài viết" data-position="bottom center">6</a>
</div>
            